@import "../../sass/mixin";
@import "../../sass/constants";

#bottom-nav {
  position: relative;
  background: $primaryColor;
  box-shadow: 0px -2px 8px -1px $secondaryColor;
  width: 100%;
  height: $bottom-nav-height;
  position: fixed;
  z-index: 1;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .windows {
    color: $fgDefault;
    margin-left: 10px;
  }
  #window-pointer {
    position: absolute;
    top: -50px;
    left: 50px;
    color: $folderColor;
    animation: bounce 2s linear infinite;
    transition: all 0.2s ease-in-out;
  }
}
#social-link-wrapper{

  margin-right:50px;
  width:200px;
  height:100%;
  display:flex;
  justify-content:space-between;
  
        .icon {
        font-size: 1.5rem;
        color: $color-primary;
      }

  align-items:center;
     & > .social-links {
      width: 100%;
      height: 45px;
      margin-bottom: 2px;
      color: $fgDefault;
      display: flex;
      align-items: center;
      padding-left: 10px;


      & span:before {
        content: "";
        margin-left: 1.1rem;
      }

      &:hover {
        background-color: lighten($secondaryColor, 20%);
      }
       
     }
}

@keyframes bounce {
  0% {
    opacity: 0;
    top: -60px;
  }
  100% {
    opacity: 1;
  }
}
