@import "../../sass/color";
@import "../../sass/constants";
@import "../../sass/mixin";

#about{
    background:$tertiaryColor;
    width: 100%;
    height: 100%;
    display: flex;

    #dsk{
        display: none;
    }

    #dsk-screen{
        display: grid;
        background: $black; 
        grid-template-areas: 'browserTab browserTab browserTab'
                                'browser-header browser-header browser-header'
                                'profileSummary aboutMe aboutMe';
        grid-template-rows: 40px 60px 1fr;
        grid-template-columns: 35% 15%  50%;
    }

    .roundThumbnail{
        border-radius: 50%;
        margin-right: 10px;
    }

    .icon{
        color:white; 
        font-size:9px; 
        margin:0 5px
    }
}

#dsk-browser-tab{
    grid-area: browserTab;
    display:flex;
    flex-direction: column;

    & > :first-child{
        height: 10px;
       
        font-size: 7px;
        display: flex;
                    justify-content: space-between;
                    align-items: center; 
    }
    & > :last-child{
        display: flex;
        position:relative;     
        height: 100%;
        color:lighten($secondaryColor, 40%);
        align-items: center; 
        width: 100%;
        background: lighten($black, 10%);
        padding-left: 2px;
        

        & input{
            @include search-input(320px, 15px);
            background:$black;
            margin-left: 40px;
            color: lighten($secondaryColor, 20%);
            span{
                color: darken($secondaryColor, 5%);
            }

        }
    }

    #dsk-open-tabs{
            width: 80px;
            height: 100%;
            background: lighten($black, 10%);
            border-radius:0 7px 0 0;
            position: relative;
            overflow: hidden;
            padding-left: 5px;
            color: lighten($secondaryColor, 25%);
            & span{
                position: absolute;
                right: 5px;
                color:lighten($secondaryColor, 22%);
            }
        
    }
}


#browser-header{
   grid-area: browser-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 1px  $secondaryColor;
    width:100%;
    height: 40px;
    padding-left: 5px;

    & > .social-link-wrapper{
            font-size: 6px;
            padding-top: 20px;
      
            a{
                color:white;    
                &:visited{
                    color:white;    
                }

            } 
            
            & a:hover  {
                color: lighten($color: $tertiaryColor, $amount: 20%);
                transform: scale(1.4);
                transition: all .2s ease-in;
                span{
                    color: lighten($color: $tertiaryColor, $amount: 20%);
                    transform: scale(1.4);
                    transition: all .2s ease-in;
                }
            }
            & .social-link-logo{
                margin-right: 5px;
                }
                & .social-link-name{
                font-size: 8px;
                color: lighten($secondaryColor, 40%);
                margin-right: 15px;
            }
    }       
}

#about-me{
    grid-area: aboutMe;
    flex-direction: column;
    color: lighten($secondaryColor, 20%);
    line-height: 22.5px;
    overflow-y: auto;
    padding: 0 10px;
    margin: 0 20px 10px 0;
    @include custom-scroll-bar();

    & > h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    &  h3 {
        font-size: 20px;

    }
}

#dsk-profile-summary{
    grid-area: profileSummary;
    margin-right: 20px;
    background: black;

    header, address, aside{
        background:darken($secondaryColor, 50%);
        box-shadow: darken($secondaryColor, 20%)  0px 1px 4px;
        margin: 0 5px 2px 5px;
        font-size:10px;
    }




    header{
        height: 22%;
        color: $white;
        display: flex;
        flex-direction: column;
        & > figure{
            padding: 2px;
            display: flex;
            flex-direction: row;
            margin-bottom:3px;
            width: 100%;
            & figcaption{
                margin-left: 4px;
            }
        }
        & > nav{
            width: 100%;
            font-size: 8px;
            margin-left: 30px;
        }
     
        nav a{
            border-radius: 5px;
            padding:  3px 5px;
            @include button();
            margin:5px;
            &:hover{
                background-color: lighten($color: $tertiaryColor, $amount: 20%);
                transform: scale(1.4);
                transition: all .2s ease-in;
            }
        }
    }


    address, aside{
        padding: 8px 0px 0px 25px;
    }
    address{
        height: 40%;
        font-style: normal;
    }
    aside{
        height: 35%;
    }

    li, ol{
        color: $white;
        margin-left: 17px;
        font-size: 12px;
        
    }
    h3{
        margin-left: 5px;
        color: $primaryColor;
        font-size:12px;
    }

}



#phone{
    color: lighten($secondaryColor, 20%);
    #screen > section {
            padding: 10px;
            margin: 5px 0;
            background: darken($tertiaryColor, 5%);          
    }


    #phone-search{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 5px lighten($tertiaryColor, 20%);
        figure{
            display: flex;  
            justify-content: space-between;
            align-items: center;
            h3{
                @include search-engine-logo;
                font-size: 20px;
            }
        }
        input{
            @include search-input(100%, 20px);
            margin: 10px 0px 0px;
        }
    }

    #phone-about-me-summary{
        box-shadow: 0px 2px 5px lighten($tertiaryColor, 20%);

        figure{
            display: flex;
            justify-content: space-between;
            margin: 10px 0 5px;
        }
        address > div{
            font-size: 12px;
        }
        address > h1{
            font-size: 15px;
        }
 
    }
    #phone-about-me{
        height: 50%;
        line-height: 25px;
        font-size: 12px;

    }

        & .social-link-wrapper{
            font-size: 8px;
            margin: 15px 0 5px;
            display: flex;
            justify-content: space-between;
            .social-links{
                color: lighten($secondaryColor, 20%);
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        
                & .social-link-name{
                font-size: 8px;
                color: lighten($secondaryColor, 20%);

            }
        }
    
}


@media screen and (min-width:$smScreen){
    #about {
        #phone{
         display: none;
        }
        #dsk{
            display: block;
        }
}
} 
