@import "mixin.scss";
@import "constants";
@import "color";
   

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li, a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

p, li, span, label, input, textarea{
    color:$primaryColor;
}

.default-input-form{
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding-left: 5px;
}




h1{font-size: 3em;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 18px;}


