@import "../../sass/color";
@import "../../sass/constants";
@import "../../sass/mixin";

#side-nav {
  position:fixed;
  bottom:0px;
  height: 70px;
  width:100vw;
  display: flex;
  justify-content:center;
  box-shadow: 1px 1px 2px -1px lighten($color-bg-variant, 10%);
  z-index:10000;
  background:darken($color-primary, 50%); 
  
   & .nav-link{
    height:100%;
    width:70%;

    display: flex;
    justify-content:center;
    align-items:center;
    & :hover{
          transform: scale(1.05);
    }
      
    & a{
       color:$fgDefault;
     }
 
    & .nav-link-icon{
      margin: 0px 30px;
      font-size: 2em;
    }
  }

  &  #nav-social_links {
     display:none;
  }
  
}



@media screen and (min-width: $smScreen) {
  #side-nav {
    position:sticky;
    top:0px;
    width: 4em;
    height:100vh;
    display: flex;
    flex-direction:column;
    justify-content:center;
    background: $color-bg-variant;
    box-shadow: 1px 1px 2px -1px lighten($color-bg-variant, 10%);
    
    
      .nav-link{
        height:70%;
        width:100%;
        display: flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        padding-top:40px;
        background:none;
        
        a{
          color:$fgDefault;
        }
       
        .nav-link-icon{
          margin: 20px 0px;
          font-size: 2em;
        }
      
  
      }
      
      
#nav-social_links {
  position: relative;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  padding-bottom:40px;
  
  
  .social-link-icon{
    font-size:1.5rem;
  }

  .social-links{
    display: flex;
    flex-direction:column;
    height:70px;
    justify-content:center;
    align-items:center;
    width:100%;
    
    &:hover {
      background-color: lighten($color-bg-variant, 20%);
    }
  }
}

  }
}





