@import "../../sass/color";
@import "../../sass/constants";
@import "../../sass/mixin";

#side-nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  background: $secondaryColor;
  box-shadow: -1px 3px 3px -1px $secondaryColor;
  bottom: $bottom-nav-height;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  z-index: 1;
  transition: all 1s ease-in-out;
  animation: move-up 0.5s ease-out;
  box-shadow: 1px 1px 2px -1px lighten($primaryColor, 10%);
  overflow-y: auto;
  @include custom-scroll-bar($bg: $primaryColor);
}

#side-nav-left {
  background: linear-gradient(
    0deg,
    $secondaryColor,
    lighten($secondaryColor, 2%),
    $secondaryColor
  );
  position: relative;
  width: 50px;
  height: 100%;
  display: inline;
  & > .side-nav-arrow {
    margin: 25px 10px 0;
    color: $fgDefault;
  }

  & > .social-link-wrapper {
    position: absolute;
    bottom: 50px;
    width: 100%;

    & > .social-links {
      width: 100%;
      height: 45px;
      margin-bottom: 2px;
      color: $fgDefault;
      display: flex;
      align-items: center;
      padding-left: 10px;

      & > .social-link-icon {
        font-size: 1.5rem;
      }

      & span:before {
        content: "";
        margin-left: 1.1rem;
      }

      &:hover {
        background-color: lighten($secondaryColor, 20%);
        // border: 1px solid $fgDefault;
      }
    }
  }
}

#side-nav-right {
  position: absolute;
  width: calc(100% - 50px);
  height: 100%;
  margin-left: 50px;
  padding: 60px;

  .side-nav-link {
    @include button();
    display: flex;
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
    color: $tertiaryColor;
    span {
      color: inherit;
      margin: 10px;
    }
  }
}

@keyframes move-up {
  0% {
    opacity: 0;
    height: calc(100% - 200px);
  }
  100% {
    opacity: 1;
    height: calc(100% - 50px);
  }
}

@media screen and (min-width: $smScreen) {
  #side-nav {
    width: 340px;
  }
}
