@import "../../sass/mixin";
@import "../../sass/color";
#command-wrapper{
    position:relative;
    width:20px;
    border-radius: 5px;
    background:$black;
    margin-top: 30px;

    #command-nav{
        width: 100%;
        padding-left: 1rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        @include mac-dots($size:10px);
    } 
  
    #command-body{
        width: 100%;
        height:calc(100% - 1.5rem);
        color:$primaryColor;
        line-height: 2em;
        font-size: 18px;
        padding-left: .8rem;  
     
        .Typewriter {
            display: inline;
     
        }
        .Typewriter__wrapper {
            color: lighten($primaryColor, 10%);
            margin-left: 0.2em;
        }
      
    }
}