@import "../../sass/mixin";
@import "../../sass/color";


#home{
    height: 100%;
    width:100%;
    position:relative;
    overflow: hidden;

    #binary-fall{
        opacity: 0.2;
        width: 100%;
        height: 100%;
    }
    
    #command-wrapper{
        position: absolute;
        right:10px;
        top:10px;
        width:250px;
        height:300px;
        animation: movecommandWrapperSm 2s ease-in, fadeOut 1s ease-in-out;
    }
    
    & .folders{
        position: absolute;
        top:50px;
        left:15px;
        width: 170px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }

    .folder-wrapper{
        margin-bottom: 50px;
        width:80px;
        display:flex;
        flex-direction: column;
        align-items: center;
        animation:fadeOut 3s ease-in;
        transition: all .4s ease-in-out;

        & .folder{
                    color: $folderColor;
                    font-size: 1rem;
                    margin-bottom: 7px;
        }
        & .folderName{
            color:$fgDefault;
            font-size: 10px;
        }
        &:hover{
            transform: scale(1.2);
        }
   
    }

}

@media screen and (min-width:$smScreen){
    #home{
        #command-wrapper{
            top:10px;
            right:10%;
            width:500px;
            height:250px;
            animation: movecommandWrapper 2s ease-in, fadeOut 1s ease-in-out;    
        }
    }

} 

@keyframes fadeOut{
    0%{
        opacity:0;
    } 
    100%{
        opacity:1;
    }
}

@keyframes movecommandWrapper{
    0%{
        top:-20px;
        right:-15px;
    } 
    80%{
        top:15px;
        right:12%;       
    } 
}

@keyframes movecommandWrapperSm{
    0%{
        top:-40px;
        right:-20px;
    } 
    80%{
        top:15px;
        right:15px;       
    } 
}

