@import "../../sass/mixin";
@import "../../sass/color";


#home{
    height: 100%;
    width:100%;
    position:relative;
    overflow: hidden;
    
    #binary-fall{
        z-index: 2;
        position:"absolute";
        width: 100%;
        height: 100%;
    }

    #binary-image{
        background: url("/assets/binary-backgroud.png")  repeat fixed;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        animation: fillBinary 20s linear infinite;
    }
    
}



#intro-wrapper{     
    display:flex;
    flex-direction: column;
    align-content: center;

    #command-wrapper{
        position: absolute;
        right:10px;
        top:10px;
        width:65%;
        height:50%;
        animation: movecommandWrapper 1s ease-in, fadeOut 1s ease-in-out;
    }

    .icon-wrapper{
        animation:fadeOut 3s ease-in;
        transition: all .4s ease-in-out;
        margin-left: 30px;
        .folder{
            color: $folderColor;
        }
        &:hover{
            transform: scale(1.3);
        }
        .folderName{
            color:lighten($color: $primaryColor, $amount: 10) 
        }
    }
    #About-folder{
        position: absolute;
        top:30px;
        left:5px;
    }
    #Contact-folder{
        position: absolute;
        top:130px;
        left:5px;
    }
    #Projects-folder{
        position: absolute;
        top:230px;
        left:5px;
    }

}

@keyframes fadeOut{
    0%{
        opacity:0;
    } 
    100%{
        opacity:1;
    }
}

@keyframes movecommandWrapper{
    0%{
        right:-5px;
        top:-10px;
    } 
    80%{
        right:15px;
        top:15px;
    } 
    100%{
        right:10px;
        top:10px;
    }
}


@keyframes fillBinary{
    0%{
        height:0%;
    }
    48%{
        height:0%;
    }
    70%{
        height:100% ;
    }
    90%{
        height:100% ;
    }
    100%{
        height:0%;
    }
}

@media screen and (min-width:$smScreen){
    #command-wrapper{
        right:100px !important;
        width:50%  !important;
        height:50%  !important;
    }
} 
