@import "../../sass/color";
@import "../../sass/constants";
@import "../../sass/mixin";


#skills {
  width: 100%;
  display:flex;
  flex-direction:column;
  align-items:center;

  
    
     
  & > #skills-container {
    display: flex;
    width: 340px;
    justify-content:space-around;
    flex-wrap:wrap;
  }
  
  .technologies {
    display: flex;
    flex-direction: column;
    width: 340px;
    min-height: 400px;
    background: $color-bg;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size:.9rem;

    &:hover {
      background: none !important;
      border: 0.1px solid $color-primary;
      transition: all 0.2s ease-in-out;
    }
  
    & > ul {
      padding: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-between;
      row-gap: 2em;
      overflow: hidden;
      
    }

  li {
    display: flex;
    align-items: center;
    width:50%;
    overflow:hidden;
    justify-content:flex-start;
    gap: .5rem;
  }
}


}


@media screen and (min-width:$smScreen) {
  
  #skills {


 & > #skills-container {
     width:100%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
    gap: 2rem 2rem;
  }
  
  }
  
  
  
  
}
 

