$primaryColor: #0d1117;

$tertiaryColor: #4db5ff;
$folderColor: #fec02f;
$fgDefault: #c9d1d9;
$secondaryColor: #161b22;

$color-bg: #0d1117;
$color-bg-variant: #161b22;
$color-primary: #4db5ff;

$borderColor: #c1c1c1;

$black: #000000;
$white: #ffffff;
