@import "color";
@import "constants";

@mixin browser-dot($size: 15px) {
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  background-color: $tertiaryColor;
  margin-right: 5px;
  height: $size;
  width: $size;
  border-radius: 50%;
}

@mixin border($side: all, $size: 1px) {
  border: $size solid $borderColor;
  box-shadow: -1px 1px 3px -1px rgba(15, 15, 15, 0.75);
  @if $side==top {
    border-radius: $radius $radius 0 0;
  } @else if $side==right {
    border-radius: 0 $radius $radius 0;
  } @else if $side==bottom {
    border-radius: 0 0 $radius 5px;
  } @else if $side==left {
    border-radius: $radius 0 0 $radius;
  } @else {
    border-radius: $radius $radius $radius $radius;
  }
}

@mixin round($size) {
  height: $size;
  width: $size;
  border-radius: 50%;
}

@mixin button() {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $fgDefault;
  background: $color-bg-variant;
  border-radius: $radius;
  padding: 3px 5px;
  border: 1px solid $borderColor;
  &:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.03);
    background-color: lighten($color-bg-variant, 10%);
  }
}

@mixin mac-dots($size: 15px) {
  .dots-wrapper {
    display: flex;
    padding: 0;
    & div {
      border: 1px solid $borderColor;
      box-shadow: $box-shadow;
      background-color: $color-bg-variant;
      margin-right: 5px;
      @include round($size);
    }
    #dot-1 {
      background-color: #fc6858;
    }
    #dot-2 {
      background-color: #fec02f;
    }
    #dot-3 {
      background-color: #2ac43e;
    }
  }
}