@import "mixin.scss";
@import "constants";
@import "color";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;300;700;900&display=swap");

* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}

li,
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

p,
li,
span,
label {
  color: $fgDefault;
}


h1,
h2 {
  color: $color-primary;
}

h1 {
  font-size: 2rem;
  font-weight:600;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
}

section > h1,
section > h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: 100%;
  text-align: center;
  color: $color-primary;
  margin-bottom:50px;
}

a, a:visited {
  color: $fgDefault;
}
