@import "../../sass/color";
@import "../../sass/constants";
@import "../../sass/mixin";



#phone{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $black;
    margin:auto;
    width: 240px;
    height: calc(100vh - 150px);
    max-height: 505px;
    border-radius: 25px;
    box-shadow: -1px 1px 2px  $primaryColor, 
        -2px 2px 4px  $fgDefault,
        -3px 3px 9px $primaryColor;

    .notch{
        display: flex;
        width: 100%;
        height: 30px;
        align-items: center;
        justify-content: center;
        
        & > #speaker{
            width: 70px;
            height: 7px;
            border-radius: $radius;
            border: 2px solid  $secondaryColor;
        }
        & > #camera{
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: $secondaryColor;
            border-radius: 50%;  
            right: 25px;
        }
    
    }

    #bottom{
        height: 20px;
    }
    #screen{
        border-radius:$radius;
        margin: 0px 8px;
        overflow: auto;
        height: 100%;
        box-shadow: 1px -1px 4px  $primaryColor, 
        -1px 1px 4px  $primaryColor;
    }

    
}




#dsk{
    width:600px;
    height: 350px;
    background:$black;
    border-radius: 10px;
    margin:auto;
    padding: 10px 10px 20px;
    box-shadow: 8px 16px 26px 3px  $secondaryColor;
}

#dsk-screen{
    position: relative;
    width:100%;
    height:100%;
    box-shadow: 1px 1px 1px -1px $white,
                -1px -1px 1px -1px $white;
}

#dsk-detail{
    position: relative;
    font-size: 10px;
    height:20px;
    display:flex;
    & > span:nth-child(1){
        position: absolute;
        left:50%;
        top: 2px;
        font-size: 12px;
        text-align: center;
        width: 15px;
        background:$secondaryColor;
        border-radius: 50%;
    }
    & > span:nth-child(2){
        position:absolute;
        right: 0px;
        color:$secondaryColor;
    }
}

#dsk-browser-tab{
        grid-area: browserTab;
        display:flex;
        flex-direction: column;
    
        & > :first-child{
            height: 10px;
            font-size: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center; 
        }
        & > :last-child{
            display: flex;
            position:relative;     
            height: 100%;
            background: $secondaryColor;
            align-items: center; 
            width: 100%;
            padding-left: 2px;
            
    
            & input{
                @include search-input(320px, 15px);
                background:$primaryColor;
                margin-left: 40px;
                color: $fgDefault;
                span{
                    color: $fgDefault;
                }
    
            }
        }
    
        #dsk-open-tabs{
                width: 80px;
                height: 100%;
                background: $secondaryColor;
                border-radius:0 $radius 0 0;
                font-size: 8px;
                display: flex;
                justify-content: space-between;
                padding-left: 5px;
                color: $fgDefault;
                span{
                    font-size: 8px;
                    
                }
            
            
        }
}
    
