@import "../../sass/color";
@import "../../sass/constants";
@import "../../sass/mixin";

#contact {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  color: $black;
  line-height: 1.7;
  padding: 20px 15px;

  #contact-us {
    font-family: "Space Mono", sans-serif;
    padding: 2rem;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: display 3s ease-in-out;

    & > section {
      width: 100%;
      h2 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $fgDefault;
        line-height: 1.4;
        font-size: 50px;
        text-transform: uppercase;
      }

      article {
        color: $fgDefault;
        font-size: 1.2rem;
        & > .social-link-wrapper {
          margin-left: 30px;
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          font-size: 10px;
          a {
            color: $fgDefault;
            &:visited {
              color: $fgDefault;
            }
            margin-bottom: 10px;
          }

          & a:hover > span {
            color: $tertiaryColor;
          }

          & .social-link-logo {
            color: $tertiaryColor;
          }

          & .social-link-name {
            font-size: 10px;
            margin-left: 10px;
            color: $fgDefault;
          }
        }
      }
    }
  }

  #contact-form {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    animation: pop-out 1s ease-in-out, display 2s ease-in-out;
    background: $secondaryColor;
    width: 300px;
    height: 380px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    input {
      height: 30px;
      margin-bottom: 30px;
    }

    input[type="submit"] {
      @include button();
      width: 100%;
    }

    textarea {
      width: 100%;
      height: 80px;
      margin-bottom: 30px;
    }
  }
}

@keyframes pop-out {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
