@import "../../sass/color";
@import "../../sass/constants";
@import "../../sass/mixin";

#contact {
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    column-gap: 5rem;
    
  
    & >  :first-child {
        width: 100%;
    }

    & > :not(:first-child) {
            width:100%;
            margin-bottom:3rem;
    }
    
    
    
    article {
      color: $fgDefault;
      font-size: 1.5rem;
    
      & > .social-link-wrapper {
        margin-left: 30px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        

      
      

 

        & .social-link-name {
          font-size: 10px;
          margin-left: 10px;
          color: $fgDefault;
        }
      }
    }
    
      
      #contact-social-links{
        margin-top:20px;
        display:flex;
        flex-direction:row;
        row-gap:2rem;
       column-gap:2rem;
       align-items:center;
        width:100%;
      
            
                 & .social-link-icon{
              color:$color-primary!important;
              
            }
    
        
        font-size: 1rem;
       
        
        &  :hover{
            & .social-link-icon{
              color:$fgDefault !important;
              transform:scale(1.1);
            }
        }
        
     
        & .social-link-icon{
          
          font-size: 1.5rem;
          color:white;
        }
     
      }
    
    #contact-form-container{
      display:flex;
      justify-content:center;
    }
  
    
  form {
    
    animation: pop-out 1s ease-in-out, display 2s ease-in-out;
    background: lighten($color-bg, 10%);
    
    
    height: 420px;
    width:350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1.5rem;
    
    & > div{
      margin-top: 30px;
      width:100%;
      height:12%;
      p{
        font-size:0.8rem;
        color:#D74338;
      }
      
    }
    & > div:nth-child(3){

      height: 30%;
    }
    & > div:last-child{
      

   
      height:10%;
      
    }
  


    input {
      height: 30px;
      width:100%;
    }

    input[type="submit"] {
      @include button();
      width: 100%;
    }

    textarea {
      width: 100%;
      height: 100px;
    }
}

}



@media screen and (min-width: $smScreen) {
  #contact{
      & > :not(:first-child) {
        flex:1;
      }
      
      &  form{
      // padding: 5rem !important;
      // margin:0px 50px !important;
      
    }
      

  }
  
    
    
  
  
}

@keyframes pop-out {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
