@tailwind base;

@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600;700&family=La+Belle+Aurore&display=swap');

:root {
  --primary-color: rgb(66, 150, 219);
  --primary-color-dark: rgb(12, 105, 181);
}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  --tw-text-opacity: 1;
  color: #d3d8e8;
  background-color: #0d1224;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  /* background: green; */
  color: white;
  border-radius: 5px;
}

.Typewriter {
  display: inline;
}

.html-tags {
  font-family: 'La Belle Aurore', cursive;
  display: block;
  font-size: 12px;
}
.html-content {
  display: block;
  padding-left: 16px;
}

:is(.dark body) {
  --tw-bg-opacity: 1;
  background-color: rgb(13 18 36 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(211 216 232 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-gray-350) {
  --tw-text-opacity: 1;
  color: rgb(211 216 232 / var(--tw-text-opacity));
}
