@import "../../sass/mixin";
@import "../../sass/color";
@import "../../sass/constants";

#nav-wrapper{
    box-shadow:0px 2px 8px -1px $primaryColor;
    z-index:1;
    width:100%;
    height: $top-nav-height;    
    background: darken($tertiaryColor, 4%);
 
    #logo{

        margin-left: 10px;

    
        & > img{
            width:75px;
            height:100%;
            color:$primaryColor;

        }
        & path {
            fill: blue;
        }
     


          
    }
}
