@import "./sass/mixin.scss";
@import "./sass/constants";
@import "./sass/color";



#main-container{
  display: flex;
  background: $color-bg-variant;
  
  & > :nth-child(2) {
    width: 100% ;
  }
  
  & > :nth-child(2) > *:not(:first-child){
    padding: 20px 2.5rem;
    min-height:100vh;
  }
  
  }
  
