@import "../../sass/color";
@import "../../sass/constants";
@import "../../sass/mixin";

.social-link-icon {
  color: $tertiaryColor;
  font-size: 1rem;
}

.social-link-name {
  color: $fgDefault;
  font-size: 1rem;
}
